{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block page-title %}
Login
{% endblock %}


{% block page-content %}
<div class="container">
<p class="display-3">Login</p>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="row">
        <button class="btn btn-primary" type="submit">Log in</button>
        </div>
        <p class="mb-0">Don't have account ? <a href="{% url 'account_signup' %}">Signup here.</a></p>
        <p>Forgot password ? <a href="{% url 'account_reset_password' %}">Reset your password here.</a></p>
    </form>
</div>
{% endblock %}