{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block page-title %}
Password Reset
{% endblock %}


{% block page-content %}
<div class="container">
<p class="display-3">Resetting your password</p>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="row mt-3">
        <button class="btn btn-primary" type="submit">Log in</button>
        </div>
        <p class="mb-0">Don't have account ? <a href="{% url 'account_signup' %}">Signup here.</a></p>
        <p>Remember your password ? <a href="{% url 'account_login' %}">Login here.</a></p>
    </form>
</div>
{% endblock %}