{% extends '_base.html' %}
{% load static %}

{% block page-title %}
    Item List
{% endblock %}

{% block page-titr %}
    Last items
{% endblock %}

{% block page-content %}
    <div class="container">
        <div class="row">
            <div class="col-9">
                {% for item in items %}
                    <div class="card my-3 shadow-sm" data-bs-toggle="collapse"
                         data-bs-target="#PurchaseDetail{{ forloop.counter }}"
                         aria-expanded="false" aria-controls="PurchaseDetail{{ forloop.counter }}" style="cursor: pointer;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col"><p class="text fw-normal" style="display: inline;">Title : </p>
                                    <p class="text fw-semibold" style="display: inline;">{{ item.name }}</p></div>
                                <div class="col"><p class="text">Purchase : {{ item.cart.first.title }}</p></div>
                                <div class="col"><p class="text">Price : {{ item.price }}</p></div>
                                <div class="col"><p class="text-muted fst-italic fw-light">Date
                                    : {{ item.datetime_bought.date }}, Time : {{ item.datetime_bought.time }}</p></div>
                            </div>
                        </div>
                        <div class="collapse" id="PurchaseDetail{{ forloop.counter }}">
                            <div class="card-body border-top">
                                <div class="row">
                                    <p class="fw-semibold">Description:</p>
                                    {% if item.description %}
                                        <p class="fw-light">{{ item.description }}</p>
                                    {% else %}
                                        <p class="fw-light">Nothing !</p>
                                    {% endif %}
                                </div>

                            </div>


                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-3">
                {% include 'rooms/right_panel.html' with room=room_obj %}
            </div>
        </div>
    </div>

{% endblock %}