<nav class="nav flex-column shadow-sm my-3 border" style="border-radius: 8px">

                    <a class="nav-link active text-light bg-success">Personal info</a>
                    <a class="nav-link active" href="{% url 'profile_update' user.id %}">Profile</a>
    {% if not user.has_room %}
                    <a class="nav-link active" href="{% url 'room_dashboard' %}">Back</a>
    {% endif %}
                    <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                </nav>
{% if user.has_room %}
                <nav class="nav flex-column shadow-sm my-3 border" style="border-radius: 8px">
                    <a class="nav-link active text-light bg-primary">Room</a>
                    <a class="nav-link active" href="{% url 'room_dashboard' %}">Dashboard</a>
                    <a class="nav-link" href="{% url 'new_purchase' %}">Add new Purchase</a>
                    <a class="nav-link" href="{% url 'purchase_list' pk=room.id %}">Last Purchases</a>
                    <a class="nav-link" href="{% url 'item_list' pk=room.id %}">Bought Items</a>
                    {% if user == room.creator %}
                    <a class="nav-link" href="{% url 'room_options' pk=room.id %}">Options</a>
                    {% endif %}
                </nav>
{% endif %}
