{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block page-title %}
    Delete Purchase
{% endblock %}


{% block page-content %}
    <div class="container">
        <p class="display-3 mt-3">Are you sure ?!</p>
        <p>Are you sure you want to delete your room?</p>
        <p>All data such as purchases and items will be deleted.</p>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <a href="{% url 'purchase_list' pk=room_obj.id %}" class="btn btn-primary my-3" type="submit">Back to
                    purchase list</a>
                <button type="submit" class="btn btn-danger">Delete</button>
            </div>
        </form>
    </div>
{% endblock %}