{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block page-title %}
    Room Options
{% endblock %}


{% block page-content %}
    <div class="container">
        <div class="row">
            <p class="display-4">Room options</p>
            <div class="col-9">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="row">
                        <button class="btn btn-primary my-3" type="submit">Save</button>
                    </div>
                </form>
            </div>
            <div class="col-3">
                    {% include 'rooms/right_panel.html' with room=room_obj%}
            </div>
        </div>
    </div>
{% endblock %}