{% extends '_base.html' %}
{% load static %}
{% load jalali_tags %}

{% block page-title %}
    Room Dashboard
{% endblock %}

{% block page-titr %}
Roommates
{% endblock %}

{% block page-content %}
    <div class="container">
        <div class="row">
            <div class="col-9">
                {% for member in members %}
                    <a href="{{ member.get_absolute_url }}" style="text-decoration: none; color: black">
                        <div class="card my-3 shadow-sm">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        {% if member.profile_photo %}
                                            <img src="{{ member.profile_photo.url }}" alt="{{ member }} profile photo"
                                                 class="rounded-circle shadow-sm" height="50" width="50">
                                        {% else %}
                                            <img src="{% static 'img/users/profile/anonymous.png' %}"
                                                 alt="{{ member }} profile photo" class="rounded-circle shadow-sm"
                                                 height="50" width="50">
                                        {% endif %}
                                        <p class="text m-1" style="display: inline;">
                                            {{ member }}
                                        </p>
                                    </div>
                                    <div class="col">
                                        <p class="fw-light" style="margin-top: 3%;">Last login: {{ member.last_login.date|to_jalali:'%Y/%m/%d' }}</p>
                                    </div>
                                    <div class="col-2">
                                        <h5>
                                            <span class="{% if member.money < 0 %}badge text-bg-danger{% elif member.money == 0 %}badge text-bg-primary{% else %}badge text-bg-success{% endif %} align-self-left" style="margin-top: 7%;">Money :{{ member.money }}</span>
                                        </h5>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="col-3">
                {% include 'rooms/right_panel.html' with room=room_obj %}
            </div>
        </div>
    </div>
{% endblock %}