{% extends '_base.html' %}
{% load static %}

{% block page-title %}
    Roommate
{% endblock %}

{% block page-content %}

    <div style="display: flex; flex-direction: column; justify-content: center; vertical-align: center; height: 20em; background-image: url('{% static 'img/template/header2 copy.jpg' %}'); background-size: cover; background-repeat: no-repeat;">
        <p class="text-light text-center fs-2">{{ room_obj.name|capfirst }}</p>
        <p class="text-light text-center fs-6">{{ room_obj.description }}</p>
    </div>

    <div class="container">
        <div class="row mt-3">
            <div class="col-9">
                {% if roommate.profile_photo %}
                    <img src="{{ roommate.profile_photo.url }}" alt="{{ roommate }} profile photo"
                         class="rounded-circle shadow mx-auto d-block"
                         height="200" width="200">
                {% else %}
                    <img src="{% static 'img/users/profile/anonymous.png' %}" alt="{{ roommate }} profile photo"
                         class="rounded-circle shadow mx-auto d-block" height="200" width="200">
                {% endif %}
                {% if roommate.biography %}
                    <p class="text-center fs-6 fw-light my-3">{{ roommate.biography }}</p>
                {% else %}
                    <p class="text-center fs-6 fw-light my-3">I'm {{ roommate.username }} !</p>
                {% endif %}
                <div class="card shadow-sm">
                    <div class="card-header">
                        Info
                    </div>
                    <div class="card-body fs-5 mt-2 ">
                        <div class="mb-4">
                            <span class="fw-light">Username : </span>
                            <span class="fw-normal">@{{ roommate.username }}</span>
                        </div>
                        <div>
                            <span class="fw-light">Full name : </span>
                            {% if roommate.full_name %}
                                <span class="fw-normal">{{ roommate.full_name }}</span>
                            {% else %}
                                <span class="fw-normal">-</span>
                            {% endif %}
                        </div>
                        <div class="my-4">
                            <span class="fw-light">Phone number : </span>
                            {% if roommate.phone_number %}
                                <span class="fw-normal">{{ roommate.phone_number }}</span>
                            {% else %}
                                <span class="fw-normal">-</span>
                            {% endif %}
                        </div>
                        <div class="mb-4">
                            <span class="fw-light">Email : </span>
                            <span class="fw-normal">{{ roommate.email }}</span>
                        </div>
                        <div class="row">
                            <h5>
                                <span style="display: block;"
                                      class="align-middle {% if roommate.money < 0 %}badge text-bg-danger{% elif roommate.money == 0 %}badge text-bg-primary{% else %}badge text-bg-success{% endif %} align-self-left">Money :{{ roommate.money }}</span>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        <p class="text fs-5">Membered in :</p>
                        {% for purchase in purchases_member %}
                            <div class="card my-3 shadow-sm" data-bs-toggle="collapse"
                                 data-bs-target="#PurchaseDetailMember{{ forloop.counter }}"
                                 aria-expanded="false" aria-controls="PurchaseDetailMember{{ forloop.counter }}" style="cursor:pointer;">
                                <div class="card-body pb-0">
                                    <div class="row">
                                        <div class="col"><p class="text fw-normal" style="display: inline;">Title : </p>
                                            <p class="text fw-semibold"
                                               style="display: inline;">{{ purchase.title }}</p></div>
                                        <div class="col">
                                            <p class="text fw-normal" style="display: inline;">Purchaser : </p>
                                            <p class="text" style="display: inline;">{{ purchase.purchaser }}</p>
                                        </div>

                                        <div class="col"><p class="text">Total price : {{ purchase.sum }}</p></div>
                                        <div class="col"><p class="text-muted fst-italic fw-light">Date
                                            : {{ purchase.created_at.date }}, Time : {{ purchase.created_at.time }}</p>
                                        </div>
                                        <div class="col">
                                            {% if purchase.is_payed %}
                                                <p class="badge text fs-6 text-bg-light" style="display: inline;">
                                                    ✔</p>
                                            {% else %}
                                                <p class="badge text fs-6 text-bg-light" style="display: inline;">❌</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <h5 class="mt-2">
                                        <p style="display: block;"
                                           class="badge text-bg-danger">your share:
                                            -{{ purchase.member_share }}</p>
                                    </h5>
                                </div>
                                <div class="collapse" id="PurchaseDetailMember{{ forloop.counter }}">
                                    <div class="card-body border-top">
                                        <div class="row">
                                            <div class="col">
                                                <p class="text fst-normal">Items :</p>
                                                {% for item in purchase.items.all %}
                                                    <div class="border-bottom">
                                                        <p class="fw-light mt-2">Name : {{ item.name }}</p>
                                                        <p class="fw-light">Price : {{ item.price }}</p>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <div class="col">
                                                <p class="text fst-normal">Shared members :</p>
                                                {% for member in purchase.member.all %}
                                                    <div class="border-bottom">
                                                        <p class="fw-light mt-2">{% if member.full_name %}
                                                            Name : {{ member.full_name }}
                                                        {% else %}
                                                            Username : {{ member }}
                                                        {% endif %} </p>
                                                        <p class="fw-light">Phone number : {{ member.phone_number }}</p>
                                                        <p class="fw-light">Email : {{ member.email }}</p>

                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col">
                        <p class="text fs-5">Purchaser in : </p>
                        {% for purchase in purchases_purchaser %}
                            <div class="card my-3 shadow-sm" data-bs-toggle="collapse"
                                 data-bs-target="#PurchaseDetailPurchaser{{ forloop.counter }}"
                                 aria-expanded="false" aria-controls="PurchaseDetailPurchaser{{ forloop.counter }}" style="cursor:pointer;">
                                <div class="card-body pb-0">
                                    <div class="row">
                                        <div class="col"><p class="text fw-normal" style="display: inline;">Title : </p>
                                            <p class="text fw-semibold"
                                               style="display: inline;">{{ purchase.title }}</p></div>

                                        <div class="col"><p class="text">Total price : {{ purchase.sum }}</p></div>
                                        <div class="col"><p class="text-muted fst-italic fw-light">Date
                                            : {{ purchase.created_at.date }}, Time : {{ purchase.created_at.time }}</p>
                                        </div>
                                        <div class="col">
                                            {% if purchase.is_payed %}
                                                <p class="badge text fs-6 text-bg-light" style="display: inline;">
                                                    ✔</p>
                                            {% else %}
                                                <p class="badge text fs-6 text-bg-light" style="display: inline;">❌</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <h5>
                                        <p style="display: block;"
                                           class="badge text-bg-success">your share:
                                            +{{ purchase.purchaser_share }}</p>
                                    </h5>
                                </div>
                                <div class="collapse" id="PurchaseDetailPurchaser{{ forloop.counter }}">
                                    <div class="card-body border-top">
                                        <div class="row">
                                            <div class="col">
                                                <p class="text fst-normal">Items :</p>
                                                {% for item in purchase.items.all %}
                                                    <div class="border-bottom">
                                                        <p class="fw-light mt-2">Name : {{ item.name }}</p>
                                                        <p class="fw-light">Price : {{ item.price }}</p>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <div class="col">
                                                <p class="text fst-normal">Shared members :</p>
                                                {% for member in purchase.member.all %}
                                                    <div class="border-bottom">
                                                        <p class="fw-light mt-2">{% if member.full_name %}
                                                            Name : {{ member.full_name }}
                                                        {% else %}
                                                            Username : {{ member }}
                                                        {% endif %} </p>
                                                        <p class="fw-light">Phone number : {{ member.phone_number }}</p>
                                                        <p class="fw-light">Email : {{ member.email }}</p>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>

            </div>

            <div class="col-3">
                {% include 'rooms/right_panel.html' with room=room_obj %}
            </div>
        </div>

    </div>

{% endblock %}

