{% extends '_base.html' %}
{% load static %}

{% block page-title %}
    Room Dashboard
{% endblock %}

{% block page-content %}
    <div style="display: flex; flex-direction: column; justify-content: center; vertical-align: center; height: 20em; background-image: url('{% static 'img/template/header2 copy.jpg' %}'); background-size: cover; background-repeat: no-repeat;">
        <p class="text-light text-center fs-2" >{{ room_name|capfirst }}</p>
        <p class="text-light text-center fs-6" >{{ room_obj.description }}</p>
    </div>
    <div class="container">
        <p class="display-4 mt-2">Roommates</p>
        <div class="row">
            <div class="col-9">
                {% for member in members %}
                    <a href="{{ member.get_absolute_url }}" style="text-decoration: none; color: black">
                        <div class="card my-3 shadow-sm">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-10">
                                        {% if member.profile_photo %}
                                            <img src="{{ member.profile_photo.url }}" alt="{{ member }} profile photo"
                                                 class="rounded-circle shadow-sm" height="50" width="50">
                                        {% else %}
                                            <img src="{% static 'img/users/profile/anonymous.png' %}"
                                                 alt="{{ member }} profile photo" class="rounded-circle shadow-sm"
                                                 height="50" width="50">
                                        {% endif %}
                                        <p class="text m-1" style="display: inline;">{% if member.full_name %}
                                            {{ member.full_name }}
                                        {% else %}
                                            @{{ member|lower }}
                                        {% endif %} </p>
                                    </div>
                                    <div class="col-2">
                                        <h5>
                                            <span class="align-middle {% if member.money < 0 %}badge text-bg-danger{% elif member.money == 0 %}badge text-bg-primary{% else %}badge text-bg-success{% endif %} align-self-left">Money :{{ member.money }}</span>
                                        </h5>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="col-3">
                {% include 'rooms/right_panel.html' with room=room_obj %}
            </div>
        </div>
    </div>
{% endblock %}